<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- para q los moviles presenten bien el contenido -->
        <title>Document</title>
    </head>

    <body>
        <header>
            Cabecera
        </header>
        <section>
            <h1>Soy un artículo científico</h1>
            <p class = "resumen"> Soy el resumen del artículo</p>
            <ul>
                <li>opcion 1</li>
                <li>opcion 2</li>
            </ul>
            <img src="/images/photo.jpg" alt="grafica de resultados">
        </section>
        <footer>
            Soy un pié
        </footer>
    </body>
</html>