{% extends "base.html" %}

{%block content %}
        <h1>Nueva entrada</h1>

        <form action="/new_movement" method="post">
            {{ the_form.csrf_token }}
            <div>
                {{ the_form.date.label }}
                {{ the_form.date }}
                {{ the_form.date.errors }}
            </div>
            <div>
                {{ the_form.abstract.label }}
                {{ the_form.abstract }}
            </div>
            <div>
                {{ the_form.amount.label }}
                {{ the_form.amount }}
            </div>
            <div>
                {{ the_form.currency.label }}
                {{ the_form.currency }}
            </div>
            <div>
                {{ the_form.submit }}
            </div>
        </form>
 {% endblock %}